body {
	margin:  0;
}

.content  {
	background: #fff;
	width: 1100px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 95px 0;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.content .user_details {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.content .user_details h2 {
	font-weight: bold;
	font-size: 2.2rem;
	margin-bottom: 3rem;
	padding: 33px 50px 0px 60px;
}

.content .user_details .general_details h2 {
	color: #010101;
}
.content .user_details .contact_details {
	width: 100%;
	background: #010101;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.content .user_details .contact_details h2 {
	color: #fff;
}
.content .user_details .general_details {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}
.new_user_form {
	width: 100%;
	margin:  0 auto;
	background: #939dab;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.content .user_details .forms {
	display: flex;
	display: flex;
	justify-content: space-around;
}

.content .user_details .general_details .forms .list.list-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}
.content .user_details .general_details .forms .list.list-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.content .user_details .general_details .forms .list.list-3 {
	width: 73%;
	padding: 0 12px 0 60px;
}
.content .user_details .general_details .forms .list.list-4 {
	width: 50%;
	padding: 1px 49px 0 12px;
}
.content .user_details .list {
	position: relative;
	margin-bottom: 23px;
	padding-left: 60px;
	padding-right: 50px;
}
.content .user_details .contact_details .forms .list.list-1 {
	width: 50%;
	padding: 0 12px 0 60px;
}
.content .user_details .contact_details .forms .list.list-2 {
	width: 100%;
	padding: 0 50px 0 12px;
}
.content .user_details select,
.content .user_details input
.login_list input{
	width: 101%;
	padding: 11.5px 15px 15px 15px;
	/* border: 1px solid transparent; */
	background: transparent;
	appearance: unset;
	-moz-appearance: unset;
	-webkit-appearance: unset;
	-o-appearance: unset;
	-ms-appearance: unset;
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	-o-outline: none;
	-ms-outline: none;
	font-family: "Arial";
	font-size: 1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-weight: bold;
	/* background: none; */
}

.content .user_details .general_details select {
	color: #050505;
}
.content .user_details .contact_details select {
	color: #f2f2f2;
}
.content .user_details .title_button {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.content .user_details .general_details .title_button {
    color: #666;
}
.content .user_details .contact_details .title_button {
    color: #f2f2f2;
}
.content .user_details .forms .list.list-4 .title_button {
	top: 20%;
	right: 26%;
}
.content .user_details .contact_details .forms .list.list-2 .title_button {
	top: 20%;
	right: 19%;
}
.content .user_details .general_details input {
	color: #050505;
}
.content .user_details .contact_details input {
	color: #fff;
}
.content .user_details .general_details input,
.content .user_details .general_details select {
	border-bottom: -0.5rem solid #10100F;
}
.content .user_details .general_details input:focus,
.content .user_details .general_details select:focus ,
.login_list input:focus{
	border-bottom: 1px solid #999;
}
.content .user_details .contact_details input,
.login_list input,
.content .user_details .contact_details select {
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.3);
}
.content .user_details .contact_details input:focus,
.content .user_details .contact_details select:focus,
.login_list input:focus{
	border-bottom: 1px solid #ccc;
}
.content .user_details .contact_details select option {
	background: #262626;
}
.content .user_details .conditions {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}
.content .user_details .conditions ,
.login_list input{
	position: absolute;
    opacity: 0;
}
.content .user_details .conditions .checkmark {
	position: absolute;
	top: -1.3rem;
	left: 0rem;
	height: 15px;
	width: 15px;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}
.content .user_details select {
	background: 0 0;
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.content .user_details .conditions .checkmark::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	width: 3px;
	height: 8px;
	border: 1px solid #fff;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	display: none;
}
.content .user_details .conditions input:checked ~ .checkmark::after,
.login_list input:checked ~ .checkmark::after{
    display: block;
}
.content .user_details .conditions p {
    margin-left: 35px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -2rem;
}
.content .user_details .conditions .text {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.content .user_details .contact_details .list-last,
.login_list{
    padding-left: 60px;
    margin: 44px 0 10px;
}
.content .user_details .contact_details .register,
.login_list.login:hover{
	background: #fff;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 23rem;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
	position: absolute;
	left: 35rem;
	top: 38rem;
}
.content .user_details .contact_details .register:hover,
.login_list.login:hover{
	background: #ccc;
}
.content .user_details .contact_details .list-last input,
login_list input{
	padding: 14.5px;
	position: absolute;
	top: 35rem;
}

.content .user_details .general_details input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
.content .user_details .general_details input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
.content .user_details .general_details input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 16px;
}
.content .user_details .general_details input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
.content .user_details .contact_details input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f2f2f2;
  font-size: 16px;
}
.content .user_details .contact_details input::-moz-placeholder { /* Firefox 19+ */
  color: #f2f2f2;
  font-size: 16px;
}
.content .user_details .contact_details input:-ms-input-placeholder { /* IE 10+ */
  color: #f2f2f2;
  font-size: 16px;
}
.content .user_details .contact_details input:-moz-placeholder { /* Firefox 18- */
  color: #f2f2f2;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
	.content {
		margin:  95px 20px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.content .user_details .forms {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.content .user_details .general_details .forms .list.list-1,
	.content .user_details .general_details .forms .list.list-2,
	.content .user_details .general_details .forms .list.list-3,
	.content .user_details .general_details .forms .list.list-4,
	.content .user_details .contact_details .forms .list.list-1,
	.content .user_details .contact_details .forms .list.list-2 {
	    width: auto;
	    padding: 0 50px 0 60px;
	}
	.content .user_details .title_button,
	.content .user_details .general_details .forms .list.list-4 .title_button,
	.content .user_details .contact_details .forms .list.list-2 .title_button {
		right: 15%;
	}

}
@media screen and (max-width: 767px) {
	.content .user_details {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.content .user_details .contact_details {
		border-top-right-radius: 0px;
    	border-bottom-left-radius: 10px;
	}
	.content .user_details .general_details {
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 575px) {
	.content .user_details .forms {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.content .user_details .list,
	.content .user_details .general_details .forms .list.list-1,
	.content .user_details .general_details .forms .list.list-2,
	.content .user_details .general_details .forms .list.list-3,
	.content .user_details .general_details .forms .list.list-4,
	.content .user_details .contact_details .forms .list.list-1,
	.content .user_details .contact_details .forms .list.list-2 {
	    width: auto;
	    padding: 0 30px;
	}
	.content .user_details .title_button,
	.content .user_details .general_details .forms .list.list-4 .title_button,
	.content .user_details .contact_details .forms .list.list-2 .title_button {
		right: 15%;
	}
	.content .user_details h2 {
	    padding: 33px 30px 0px 30px;
	}
	.content .user_details .conditions {
		padding: 0 30px;
	}
	.content .user_details .conditions .checkmark {
		left: 30px;
	}
	.content .user_details .contact_details .list-last {
		padding-left: 0;
		text-align: center;
	    margin: 44px 0 30px;
	}
	.login_list {
		padding-left: 0;
		text-align: center;
		margin: 44px 0 30px;
	}
}
header .header{
  background-color: #fff;
  height: 45px;
}

.login_page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login_page .login_form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.login_form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login_form button {
  font-family: "Roboto", sans-serif;
  text-translogin_form: uppercase;
  outline: 0;
  background-color: #10100f;
  /* background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login_form .credentials {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login_form .credentials a {
  color: #10100f;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #10100f;
  /* background-image: linear-gradient(45deg,#328f8a,#08ac4b); */
  font-family: "Roboto", sans-serif;
}
.content .user_details .contact_details .list-last1 input {
	padding: 14.5px;
	position: absolute;
	top: 28rem;
}
.content .user_details .contact_details .login {
	background: #fff;
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgb(0 0 0 / 15%);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgb(0 0 0 / 15%);
	width: 23rem;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;
	position: absolute;
	left: 35rem;
	top: 48rem;
}
.content .user_details select, .content .user_details .list-last1 input {
	width: 101%;
	padding: 11.5px 15px 15px 15px;
	/* border: 1px solid transparent; */
	background: transparent;
	appearance: unset;
	-moz-appearance: unset;
	-webkit-appearance: unset;
	-o-appearance: unset;
	-ms-appearance: unset;
	outline: none;
	-moz-outline: none;
	-webkit-outline: none;
	-o-outline: none;
	-ms-outline: none;
	font-family: "Arial";
	font-size: 1rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	font-weight: bold;
	/* background: none; */
}
