<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Registration for Jobs made easy</title>
    <style>
        h1 {
            background-color: cadetblue;
        }
        .list {
            margin-top: 20px;
        }

    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="registration_form" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
<div class="new_user_form">
    <h1 style="margin-top: 0px; padding-top: 15px;padding-bottom: 15px;">Enter Availability details</h1>

    <div class="content">
        <form class="list" method="post" th:object="${availability}" th:action="@{/save/availability/{path}(path=${session.currentId})}">
            <div class="contact_details">
                <h2>Availability</h2>
                <div class="list">
                    <input type="text" name="availableDays" class="availableDays" id="availableDays" placeholder="Add Available Days" required="" th:field="*{availableDays}">
                </div>
                <div class="list">
                    <input type="text" name="availableHours" class="availableHours" id="availableHours" placeholder="Add available hours of particular days" required="" th:field="*{availableHours}">
                </div>


                <div class="list-last">
                    <input type="submit" name="add_availability" class="add_availability" value="Add Availability"
                           style="position: absolute; top: 15rem;left: 2rem;">
                </div>
            </div>
        </form>
    </div>
</div>


