<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Add user</title>
</head>
<body class="registration_form" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
<div class="new_user_form">
  <div class="content">
    <div id="errorMessage"></div>
    <form method="post" id="form" th:action="@{/add_role}" th:object="${Group3.JobsMadeEasy.authentication.role.model.Role}">

      <div class="contact_details">
        <h2>Enter Role Details</h2>
        <div class="list">
          <label>Role Id: </label><br>
          <input type="text" th:field="*{roleId}">
        </div>
        <div class="list">
          <label>role Name: </label><br>
          <input type="text" th:field="*{roleName}">
        </div>

        <div class="list-last">
          <button type="submit" class="button" onclick="clickFunction()" >Add role</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
