<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8">
  <title>Add user</title>
</head>
<body class="registration_form" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
<div class="new_user_form">
  <div class="content">
    <div id="errorMessage"></div>
    <form method="post" id="form" th:action="@{/add_user}" th:object="${Group3.JobsMadeEasy.authentication.user.model.User}">

      <div class="contact_details">
        <h2>Enter User Details</h2>
        <div class="list">
          <label>First Name: </label><br>
          <input type="text" th:field="*{firstName}">
        </div>
         <div class="list">
          <label>Last Name: </label><br>
          <input type="text" th:field="*{lastName}">
        </div>
         <div class="list">
          <label>Phone number: </label><br>
          <input type="text"th:field="*{phoneNumber}">
        </div>
         <div class="list">
          <label>Email: </label><br>
          <input type="text"th:field="*{emailId}">
        </div>
         <div class="list">
          <label>password: </label><br>
          <input type="text"th:field="*{password}">
        </div>
         <div class="list">
          <label>Province: </label><br>
          <input type="text"th:field="*{province}">
        </div>
         <div class="list">
          <label>Address: </label><br>
          <input type="text"th:field="*{address}">
        </div>
        <div class="list">
          <label>Postal code: </label><br>
          <input type="text"th:field="*{postalCode}">
        </div>
        <div class="list">
          <label>Role Id: </label><br>
          <input type="text"th:field="*{roleId}">
        </div>

          <div class="form-group">
              <b>Is Approved:</b>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="isApproved1" name="option1" class="custom-control-input" value="1" th:field="*{isApproved}">
                  <label>Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="isApproved2" name="option1" class="custom-control-input" value="2" th:field="*{isApproved}">
                  <label>No</label>
              </div>
          </div>

          <div class="form-group">
              <h4>Is Employee:</h4>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="isEmployee1" name="option2" class="custom-control-input" value="1" th:field="*{isEmployee}">
                  <label>Yes</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="isEmployee2" name="option2" class="custom-control-input" value="2" th:field="*{isEmployee}">
                  <label>No</label>
              </div>
          </div>

        <div class="list-last">
          <button type="submit" class="button" onclick="clickFunction()" >Add user</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
