<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>Title</title></head>
<body>
<div>
    <h1> Welcome Admin </h1>
    <span th:text="${session.currentId}" />
    <span th:text="${session.currentName}" />

    <div class="list-last">-->
        <a href="/view_all_users">View All users</a>
    </div>
    <div class="list-last">
        <a href="/view_user_by_id">View User by ID</a>
    </div>
    <div class="list-last">
        <a href="/delete_user_by_id">Delete User</a>
    </div>
    <div class="list-last">-->
        <a href="/view_all_roles">View All Roles</a>
    </div>
    <div class="list-last">
        <a href="/view_role_by_id">View Role by ID</a>
    </div>
    <div class="list-last">
        <a href="/delete_role_by_id">Delete Role</a>
    </div>
</div>
</body>