<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>Title</title></head>
<body>
<div>


    <h1> Welcome <span th:text="${session.currentName}" /> </h1>
<!--    <span th:text="${session.currentId}" />-->
<!--    <span th:text="${session.currentName}" />-->


    <div class="list-last">
        <a href="/add_availability_form">Add Availability</a>
    </div>
<!--    <div class="list-last">-->
<!--        <a href="/view_all_availability">View All Availability</a>-->
    </div>
    <div class="list-last">
        <a th:href="@{/view_my_availability/{path}(path=${session.currentId})}">View Availability</a>
    </div>
    <div class="list-last">
            <a th:href="@{/delete_availability_by_id/{path}(path=${session.currentId})}">Delete Availability</a>
    </div>
</div>
</body>
