<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Registration for Jobs made easy</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <!--    <link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">-->
    <!-- Main Style Css -->
    <link th:href="@{/style/project.css}" type="text/css" rel="stylesheet" />
    <style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
<body class="registration_form" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
<div class="new_user_form">
<!--    <div>-->
<!--        <h1> Welcome Applicant <span th:text="${session.currentName}" /></h1>-->
<!--        <span th:text="${session.currentId}" />-->
<!--        <span th:text="${session.currentName}" />-->
<!--    </div>-->

    <div class="content">
        <form class="user_details" method="post" th:object="${availability}" th:action="@{/save/availability/{path}(path=${session.currentId})}">
            <div class="contact_details">
                <h2>Availability</h2>
                <div class="list">
                    <input type="text" name="availableDays" class="availableDays" id="availableDays" placeholder="Add Available Days" required="" th:field="*{availableDays}">
                </div>
                <div class="list">
                    <input type="text" name="availableHours" class="availableHours" id="availableHours" placeholder="Add available hours of particular days" required="" th:field="*{availableHours}">
                </div>


                <div class="list-last">
                    <input type="submit" name="add_availability" class="add_availability" value="Add Availability"/>
                </div>
            </div>
        </form>
    </div>
</div>


