<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <title>Registration for Jobs made easy</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
        <link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <!-- Main Style Css -->
<!--    <link th:href="@{/style/project.css}" type="text/css" rel="stylesheet" />-->
    <style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
<body class="registration_form" data-new-gr-c-s-check-loaded="14.1087.0" data-gr-ext-installed="">
<div class="new_user_form">
    <div class="content">
        <form method="post" th:action="@{/add_job_post}" th:object="${jobPost}">

            <div class="contact_details">
                <h2>Job Details</h2>
                <div class="list">
                    <label>Job Title: </label><br>
                    <input type="text" name="job" class="job" id="job" placeholder="Job Title" required="" th:field="*{jobTitle}">
                </div>
                <div class="list">
                   <label>Salary: </label><br>
                    <input type="text" name="salary" class="salary" id="address-line_one" placeholder="Salary" required="" th:field="*{salary}">
                </div>
                <div class="list">
                    <label>Type of Job: </label><br>
                    <input type="text" name="jobType" class="jobType" id="jobType" placeholder="Job Type" required="" th:field="*{jobType}">

                </div>
                <div class="list" >
                    <label>Job Description: </label><br>
                    <input name="jobDescription" type="text" class="jobDescription" id="jobDescription" required="" style="height: 10rem; width: 30rem;" placeholder="Job Decription" th:field="*{jobDescription}">
                </div>
                <div class="list">
                    <label>Job Location: </label><br>
                    <input type="text" name="jobLocation" id="jobLocation" class="jobLocation" placeholder="Job Location" required="" th:field="*{jobLocation}">
                </div>
                <div class="list">
                    <label>Language Required: </label><br>
                    <input type="text" name="language" id="language" class="language" placeholder="Language Requirements" required="" th:field="*{languageRequirements}">
                </div>
                <div class="list-last">
                    <button>
                        <a th:href="@{/hr_home_page}" onclick="clickFunction()">CREATE JOB POST</a><br>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function clickFunction() {
        alert("Job post created successfully.!!");
    }
</script>
</body>
</html>
