<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #delete-table tr:nth-child(even)
        {
            background-color: #cccccc;
        }

        #delete-table tr:hover
        {
            background-color: #f2f2f2;
        }

        #delete-table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: cadetblue;
            color: white;
        }

    </style>
</head>
<body>
<h1>Delete uploaded job posts.</h1>
<table border="2px solid black" id="delete-table">
    <tr>
        <th>jobPostId</th>
        <th>jobTitle</th>
        <th>jobDescription</th>
        <th>jobType</th>
        <th>salary</th>
        <th>jobLocation</th>
        <th>languageRequirements</th>
    </tr>
    <tr th:each="jobPosts:${jobPosts}">
        <th id="post-id" ><h4 th:text="${jobPosts.jobPostId}"></h4></th>
        <td><h4 th:text="${jobPosts.jobTitle}"></h4></td>
        <td><h4 th:text="${jobPosts.jobDescription}"></h4></td>
        <td><h4 th:text="${jobPosts.jobType}"></h4></td>
        <td><h4 th:text="${jobPosts.salary}"></h4></td>
        <td><h4 th:text="${jobPosts.jobLocation}"></h4></td>
        <td><h4 th:text="${jobPosts.languageRequirements}"></h4></td>
        <td>
            <button type="submit" class="button--delete" onclick="clickFunction()" th:attr="data-post-id=${jobPosts.jobPostId}">Delete job</button>
        </td>
    </tr>
</table>

<script>
    function clickFunction() {
        alert("Job post deleted successfully.!!");
    }
    const deleteButtonsList = document.querySelectorAll(".button--delete");
    console.log(deleteButtonsList);
    deleteButtonsList.forEach(deleteButton => {
        deleteButton.addEventListener("click", (e) => {
            const id = e.target.dataset.postId;
            console.log(id);

            fetch(`/delete_job_post_by_id/${id}`,
                {
                method: "delete"
            }).then((res) => res.json()).then(data => location.reload());

        })
    })
</script>

</body>
</html>