<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style> table, th, tr,td {
        border: 2px solid black;}</style>
</head>
<body>
<h1>Delete Jobs Here</h1>
<table border="2px solid black">
    <tr>
        <th>applicationId</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>expectedSalary</th>
        <th>currentEmployeeStatus</th>
        <th>jobLocation</th>
        <th>yearPassOut</th>
        <th>applicationType</th>
        <th>studyField</th>
        <th>degreeType</th>
        <th>university</th>
        <th>expertOne</th>
        <th>expertTwo</th>
        <th>expertThree</th>
        <th>jobPostId</th>
    </tr>
    <tr th:each="jobApplication:${jobApplication}">
        <th id="application_id" ><h4 th:text="${jobApplication.applicationId}"></h4></th>
        <td><h4 th:text="${jobApplication.firstName}"></h4></td>
        <td><h4 th:text="${jobApplication.lastName}"></h4></td>
        <td><h4 th:text="${jobApplication.expectedSalary}"></h4></td>
        <td><h4 th:text="${jobApplication.currentEmployeeStatus}"></h4></td>
        <td><h4 th:text="${jobApplication.yearPassOut}"></h4></td>
        <td><h4 th:text="${jobApplication.applicationType}"></h4></td>
        <td><h4 th:text="${jobApplication.studyField}"></h4></td>
        <td><h4 th:text="${jobApplication.degreeType}"></h4></td>
        <td><h4 th:text="${jobApplication.university}"></h4></td>
        <td><h4 th:text="${jobApplication.expertOne}"></h4></td>
        <td><h4 th:text="${jobApplication.expertTwo}"></h4></td>
        <td><h4 th:text="${jobApplication.expertThree}"></h4></td>
        <td><h4 th:text="${jobApplication.jobPostId}"></h4></td>
        <td>
            <!--            <form th:action="@{/temp-delete-post/{id}(id=${jobPosts.jobPostId})}" method="post" th:attr="data-post-id=${jobPosts.jobPostId}" class="form">-->
            <!--                <button type="submit"  class="button&#45;&#45;delete" onclick="location.href='deleteJobById.html'">Delete job</button>-->
            <!--            </form>-->
            <button type="submit" class="button--delete" th:attr="data-application-id=${jobApplication.applicationId}">Delete application</button>
            <!--            <form th:action="@{/temp-delete-post/{id}(id=${jobPosts.jobPostId})}" method="post" th:attr="data-post-id=${jobPosts.jobPostId}" class="form">-->
            <!--            </form>-->

        </td>
    </tr>
</table>

<script>
    const deleteButtonsList = document.querySelectorAll(".button--delete");
    console.log(deleteButtonsList);
    deleteButtonsList.forEach(deleteButton => {
        deleteButton.addEventListener("click", (e) => {
            const id = e.target.dataset.applicationId;
            console.log(id);

            fetch(`/delete_job_application_by_id/{id}`,
                {
                    method: "delete"
                }).then((res) => res.json()).then(data => location.reload());

        })
        // deleteButton.addEventListener("submit", (e) => {
        //     e.preventDefault();
        //     const id = e.target.dataset.postId;
        //     e.target.closest(".form").setAttribute("action", `\${/delete_job_post_by_id/${id}`);
        //     e.target.closest(".form").setAttribute("method", "post")
        //
        //     console.log(e.target.closest(".form").getAttribute("action"));
        // })
    })
</script>

</body>
</html>