<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registration for Jobs made easy</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="../static/style/project.css">
    <!--    <link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">-->
    <!-- Main Style Css -->
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div class="heading"><h1>Welcome to Jobs Made Easy!!</h1></div>
<a href="/login">Login</a>
<a href="/register">Register</a>
</body>
</html>
