<!DOCTYPE html>
<html html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="project.css">
</head>
<body>
<div class="login_page" th:action="@{/auth/applicant/login}" th:object="${applicant}">
    <div class="login_form">
        <div class="login">
            <div class="login_header">
                <h4 style="font-size: 3rem;">LOGIN</h4>
                <p>Kindly enter your details to login.</p>
            </div>
        </div>
        <login_form class="credentials">
            <input type="text" placeholder="Email-id" th:field="*{emailId}" />
            <input type="password" placeholder="password" th:field="*{password}" />
            </input>
            <button>Login</button>
            <p class="login_message">Not registered? <a href="register_applicant.html">Create new user account</a></p>
        </login_form>
    </div>
</div>
</body>
</html>