<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="project.css">
</head>
<body>
<body>
<div class="login_page">
    <div class="login_form">
        <div class="login">
            <div class="login_header">
                <h4 style="font-size: 3rem;">LOGIN</h4>
                <p>Kindly enter your details to login.</p>
            </div>
        </div>
        <login_form class="credentials">
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button>Login</button>
            <p class="login_message">Not registered? <a href="#">Create new user account</a></p>
        </login_form>
    </div>
</div>
</body>
</body>
</html>