<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Update job post here</h1>
    <form th:each="jobPostList: ${jobPostList}" th:action="@{/update_job_post/{id}(id=${jobPostList.jobPostId})}" th:method="put">
        <div class="contact_details">
            <h2>Job Details</h2>
            <div class="list">
                <label>Job Title: </label><br>
                <input type="text" name="job" class="job" id="job" placeholder="Job Title" required="" th:value="${jobPostList.jobTitle}">
            </div>
            <div class="list">
                <label>Salary: </label><br>
                <input type="text" name="salary" class="salary" id="address-line_one" placeholder="Salary" required="" th:value="${jobPostList.salary}">
            </div>
            <div class="list">
                <label>Type of Job: </label><br>
                <input type="text" name="jobType" class="jobType" id="jobType" placeholder="Job Type" required="" th:value="${jobPostList.jobType}">

            </div>
            <div class="list" >
                <label>Job Description: </label><br>
                <input name="jobDescription" type="text" class="jobDescription" id="jobDescription" required="" style="height: 10rem; width: 30rem;" placeholder="Job Decription" th:value="${jobPostList.jobDescription}">
            </div>
            <div class="list">
                <label>Job Location: </label><br>
                <input type="text" name="jobLocation" id="jobLocation" class="jobLocation" placeholder="Job Location" required="" th:value="${jobPostList.jobLocation}">
            </div>
            <div class="list">
                <label>Language Required: </label><br>
                <input type="text" name="language" id="language" class="language" placeholder="Language Requirements" required="" th:value="${jobPostList.languageRequirements}">
            </div>
            <div class="list-last">
                    <form th:method="put" th:action="@{/update_job_post/{id}(id=${jobPostList.jobPostId})}" >
                            <button type="submit" onclick="clickFunction()" >
                                <a th:href="@{/view_all_jobs}">UPDATE JOB POST</a></button>
                    </form>
            </div>
        </div>
    </form>
    <script>
        function clickFunction() {
            alert("Job post updated successfully.!!");
        }
    </script>
</body>
</html>