<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Feedback</h1>

<table border="2px solid black" style="float:left">
    <tr>
        <th>Feedback Id</th>
        <th>Experience</th>
        <th>Comments</th>
        <th>Over-all Ratings</th>
        ]
    </tr>



    <tr th:each="feedback:${feedbacks}">
        <th><h4 th:text="${feedback.feedbackId}"></h4></th>
        <td><h4 th:text="${feedback.experience}"></h4></td>
        <td><h4 th:text="${feedback.comments}"></h4></td>
        <td><h4 th:text="${feedback.overAllRating}"></h4></td>

    </tr>




    </tr>
</table>
</body>
</html>