<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"><head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style> table, th, tr,td {
    border: 2px solid black;}</style>
</head>
<body>
<h1>View All Jobs Here</h1>
<table border="2px solid black" style="float:left">
  <tr>
    <th>roleId</th>
    <th>roleName</th>
  </tr>
  <tr th:each="role:${roles}">
    <th><h4 th:text="${role.roleId}"></h4></th>
    <td><h4 th:text="${role.roleName}"></h4></td>
  </tr>
</table>
</body>
</html>